@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
